*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(#f79f57, #30f7af,#54b711,#f74fc2,#76f83c);
	background-size: cover; 
	display: block;
}

.wrapper{
	width: 960px;
	margin: 50px auto;
}
.box img{
	width: 300px;
	height: 180px;
}

.box h2{
	color: red;
	font-family: sans-serif;
	margin-top: 10px;
}

.box p{
	text-align: justify;
	font-family: Berlin Sans FB;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
}

.box{
	width: 300px;
	float: left;
	margin-right: 20px;
}
.nomargin{
	margin-right: 0px;
}


.box a{
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	background: linear-gradient(#f8f247, #36d90a,#0ab0d9,#d90a4e);
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 5px;
	padding: 3px 0;
	transition:  all 2s ease;

}

.box a:hover{
	
	background: #385c5a;
	color: white;
}



	

