*{
	padding: 0;
	margin: 0;

	font-family: sans-serif;
}
div{
	height: 100vh;
	width: 100%;
	padding:;
	background: linear-gradient(#f79f57, #30f7af,#54b711,#f74fc2);
}
a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #010406;
	padding: 30px 60px;
	font-size: 30px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	overflow: hidden;
	background: linear-gradient(#f79f57, #30f7af);
}

}

a:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255,255,255,0.05);
}


a span:nth-child(1)
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #ea0101, #c03deb);
	animation: line1 2s linear infinite;
	
	
}



@keyframes line1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}



a span:nth-child(2)
{
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, #ea0101, #c03deb);
	animation: line2 2s linear infinite;
	animation-delay: 1s; 
	
}




@keyframes line2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}





a span:nth-child(3)
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #ea0101, #c03deb);
	animation: line3 2s linear infinite;
	
}


@keyframes line3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}





a span:nth-child(4)
{
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #ea0101, #c03deb);
	animation: line4 2s linear infinite;
	animation-delay: 1s;

}

@keyframes line4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}



a:hover{
	color: white;
	background: linear-gradient(#0c002b, #1779ff);
}